
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static "js/jquery-ui-1.11.0.custom/jquery-ui.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">

    <meta charset="UTF-8">
    <title>Sk8</title>
</head>
<body>
    {% block content %}{% endblock content %}

</body>
</html>
