{% extends 'base_template.html' %}
{% load staticfiles %}


{% block content %}

    <script src="../static/js/index2.js"></script>
    <div style="background-color: white">
    <div class="row">

<div class="col-lg-3">
<img style="width: 50%" src="{% static 'img/Screen Shot 2014-07-30 at 1.07.12 PM.png' %}">
</div>

<div class="col-lg-9">
<header style="float: right">
<ul class="nav nav-pills">
  <li><a style="color: darkgray" href="{% url 'home' %}">Home</a></li>
      <li><a style="color: darkgray" href="{% url 'shop' %}">Shop</a></li>
<li  class="active"><a style="color: darkgray"  href="{% url 'cart' %}">Cart</a></li>
  <li class="dropdown">
          {% if user.is_authenticated %}
          <a href="#" style="color: darkgray" class="dropdown-toggle" data-toggle="dropdown">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'profile' %}" style="color: white">My Profile</a></li>
            <li><a href="{% url 'view_post' %}"  style="color: white">My Posts</a></li>
            <li><a href="{% url 'logout' %}"  style="color: white">Sign Out</a></li>
      {% else %}
              <li><a href="{% url 'register' %}">Register</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
          </ul>
        </li>

</ul>
</header>
</div>
    </div>
    </div>
<br><br>
    <style>
    body {color: black; background-color: black}
    </style>

    {% for i in set %}
        <div style="align-content: center; background-color: white; font-family: Arial Black">
        <button class="ex" style="font-size: 30px; color: grey; float: right">X</button>
        <div style="display: block; margin-left: auto; margin-right: auto; text-align: center">
        <img src="{{ i.image }}">
    <p>{{ i.title }}</p>
    <p>${{ i.price }}</p>
    </div>
</div>

    {% endfor %}
    <div style="background-color: white; text-align: center; font-size: 30px">{% if not set %}
     Your Cart is empty
{% endif %}</div>

    <div class="tot" style="background-color: white; text-align: right; font-family: Arial black; padding-right: 60px; font-size: 30px">

    <button style="color: white; background-color: mediumpurple; font-size: 15px">Checkout</button>



        <div></div>
    <div class="row">

    </div> </div>

    <br><br><br>
    <div style="background-color: rgb(32, 32, 32); color: rgb(208, 208, 208)">

<div style="display: inline-block; margin-right: auto; margin-left: 23%">
        <h4>Sk8</h4>
        <p>Corporate info</p>
        <p>Careers</p>
        <p style="color:rgb(32, 32, 32) ">`</p>
        <p style="color:rgb(32, 32, 32) ">`</p>
</div>
<div style="display: inline-block; margin-right: auto; margin-left: 10%">
    <h4>Contact Us</h4>
    <p>317-397-1829</p>
    <p>Live Chat</p>
    <p>Email Us</p>
    <p style="color:rgb(32, 32, 32) ">`</p>
</div>
<div style="display: inline-block; margin-right: auto; margin-left: 10%">
    <h4>Customer Service</h4>
    <p>Order status</p>
    <p>Shipping</p>
    <p>Returns</p>
    <p>Warranty</p>
</div>
<div style="display: inline-block; margin-right: auto; margin-left: 10%">
    <h4>Skaters</h4>
    <p><a  class="links" href="http://en.wikipedia.org/wiki/Tony_Hawk">Tony Hawk</a></p>
    <p><a  class="links" href="http://en.wikipedia.org/wiki/Nyjah_Huston">Nyjah Huston</a></p>
    <p><a  class="links" href="http://en.wikipedia.org/wiki/Rob_Dyrdek">Rob Dyrdek</a></p>
    <p><a class="links" href="http://en.wikipedia.org/wiki/Chris_Cole_(skateboarder)">Chris Cole</a></p>
</div>
    </div><br><br><br>

{#   <div id="slideshow">#}
{#    <img class="slide" src="../static/img/skate1.jpeg" >#}
{#    <img class="slide" src="../static/img/skate2.jpeg" >#}
{#    <img class="slide" src="../static/img/skate3.jpeg" >#}
{#    <img class="slide" src="../static/img/skate4.jpeg" >#}
{#    <img class="slide" src="../static/img/skate5.jpeg" >#}
{#</div>#}
    <footer style="text-align: center"><a href="https://twitter.com/Art_mc27" ><img style="width: 5%" src="../static/img/twitter.png"></a><a href="http://www.facebook.com" ><img style="width: 4.4%" src="../static/img/facebook.png"></a><a href="http://www.instagram.com" ><img style="width: 5.4%" src="../static/img/instagram.png"></a><a href="http://www.youtube.com" ><img style="width: 4.1%" src="../static/img/youtube.png"></a></footer>

    <footer style="text-align: right; padding-right: 50px; font-size: 10px; color: white">
    <p>Privacy Policy | Terms & Condtions</p>
<p>@2014 Sk8, Inc. All rights reserved.</p>
    </footer>



{% endblock content %}